.background{
    background-color: #2e7cf6;
    height:100%
}
.card{
    background-color: transparent !important;
    color:#ffff;
    border:none;
    margin-top:35%;
}
.btn[type=submit]{
    border-radius:50px;
}

.btn-link{
    color:#ffff;
}

h1{
    color:#ffff;
}