<app-signup></app-signup>

<div class="row">
  <div class="col-sm-6 text-right pt-5">
    <img class="align-middle m-5" height="300px" src="/assets/Volleyball.png">
  </div>
  <div class="col-sm-4">
    <h2 class="mx-5 my-5">What is Volleyball Blogs?</h2>
    <h6 class="mx-5 my-1">
      Volleyball Blogs is a platform where you can share your thoughts and craziest ideas regarding Volleyball with the world. You can also interact with other users by commenting on their posts. 
      <br/><br/>
      Create a free account and get started.
      <br/><br/>
      Let's get started!
    </h6>
  </div>
</div>

<hr/>

<div class="row">
  <div class="offset-sm-2 col-sm-8 text-center pt-5 mt-5">
    <h5>Contact Us</h5>

    <div class="row">
      <div class="offset-sm-2 col-sm-4 text-left pt-5 vertical-divider mt-5 ">
        <i class="fa fa-phone mt-3"></i> 9897978798
        <br/>
        <i class="fa fa-envelope mt-3"></i> nisarggogate212@gmail.com
        <br/>
        <i class="fa fa-envelope mt-3"></i> pushpeshrajdx.01@gmail.com
        <br/>
        <i class="fa fa-facebook mt-3" ></i><a href="https://www.facebook.com/volleyball.player0/"> VNIT Volleyball </a>
        <br/>
      </div>

      <div class="col-sm-6 text-left py-5 my-5 px-5">
        <i class="fa fa-map-marker mt-3"></i> VNIT<br/>
        <i class="fa fa-map-marker mt-1 invisible"></i> South Ambazari Rd,<br/>
        <i class="fa fa-map-marker mt-1 invisible"></i> Ambazari, Nagpur,<br/>
        <i class="fa fa-map-marker mt-1 invisible"></i> Maharashtra 440010<br/>
      </div>
    </div>

  </div>
</div>